/robbStark/mrpMIM/nbproject/private/
/robbStark/mrpMIM/build/
/robbStark/clientes/nbproject/private/
/robbStark/clientes/build/
/robbStark/clientes/dist/
/robbStark/mrpMIM/dist/
/robbStark/dosificadoraDemo/nbproject/private/
/robbStark/dosificadoraDemo/build/
/robbStark/dosificadoraDemo/dist/
/robbStark/gaugeTest/nbproject/private/
/robbStark/gaugeTest/build/
/robbStark/gaugeTest/dist/
/robbStark/basculaControl/nbproject/private/
/robbStark/basculaControl/build/
/robbStark/basculaControl/dist/
/robbStark/enzoWidgets/nbproject/private/
/robbStark/enzoWidgets/build/
/robbStark/enzoWidgets/dist/
/robbStark/teavm/target/
/robbStark/teavmArcheType/target/
/robbStark/bluecoveModuloArduino/nbproject/private/
/robbStark/bluecoveModuloArduino/build/
/robbStark/waterTank/nbproject/private/
/robbStark/waterTank/build/
/robbStark/sibs/nbproject/private/
/robbStark/sibs/build/
/robbStark/sibs/dist/
/robbStark/productGrid/nbproject/private/
/robbStark/AutomatizacionAvanzada/nbproject/private/
/robbStark/AutomatizacionAvanzada/build/
/robbStark/AutomatizacionAvanzada/dist/